body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  margin: 0 auto;
}
h1,
h2,
p {
  color: burlywood;
}

h3 {
  color: darkgreen;
}
header,
nav,
aside,
footer {
  background: #ebebeb;
}
article {
  background: #777;
}

* {
  box-sizing: border-box;
  text-align: center;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;}
  .container{
    width 0 auto;
  }

.container1 {
  float: left;
  width:495px;
  background-color: aquamarine;
  height:300px;;
  margin: 5px;
  padding: 5px;
}

.container2 {
  float: left;
  width:440px;
  background-color: aquamarine;
  height:300px;;
  margin: 5px;
  padding: 5px;
}
.aside {
  background-color: chocolate;
}

section {
  background: #ebebeb;
}
